
.vantagens {
    width: 100%;
    height: 1000px;
    background-color: #FED818;
    position: relative;
    z-index: 1;
}

/* --------------------------------------------------------- */

.vantagens_tit {
    position: absolute;
    width: 100%;
    top: 170px; 
    font-size: 80px;
    color:#7F141E;   
}

/* --------------------------------------------------------- */

.ebup {position: absolute; top: 20px; left: 20px; width: 10vw;}
.eoup {position: absolute; top: -1px; right: 0; width: 20vw;}
.ebdw {position: absolute; bottom: 20px; right: 20px; width: 10vw;}
.eodw {position: absolute; bottom: 0px; left: 0; width: 20vw;}

/* --------------------------------------------------------- */

.topicos {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5vw;
    list-style: none;
}

.topico {
    color: #7F141E;
}

.topico_img {
    background-color: #7F141E;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
}

.topico_img img {
    width: 120px;
    height: 120px;
    padding: 35px;
}

.topico p {
    width: 400px;
    font-size: 30px;
}
